<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabak Menu</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./CSS/style.css" />
    <style>
      .container {
        display: flex;
      }
      .app {
        flex: 1;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <div id="SvetlyTabak" class="app">
          <h1>Svetlý</h1>
          <div class="container">
            <ul>
              <li v-for="item in svetlyMenuItems" :key="item.id">{{ item }}</li>
            </ul>
          </div>
        </div>

        <div id="TmavyTabak" class="app">
          <h1>Tmavý</h1>
          <div class="container">
            <ul>
              <li v-for="item in tmavyMenuItems" :key="item.id">{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          svetlyMenuItems: [],
          tmavyMenuItems: [],
        },
        mounted() {
          this.fetchSvetlyMenuData();
          this.fetchTmavyMenuData();
        },
        methods: {
          fetchSvetlyMenuData() {
            fetch(
              "https://raw.githubusercontent.com/ArmBraker/Menu/main/Tabak_Lists/Svetly%20Tabak.txt"
            )
              .then((response) => response.text())
              .then((data) => {
                const menuItems = data
                  .split("\n")
                  .map((line) => line.trim())
                  .filter((line) => line !== "");
                this.svetlyMenuItems = menuItems;
              })
              .catch((error) => {
                console.error("Error fetching menu data:", error);
              });
          },
          fetchTmavyMenuData() {
            fetch(
              "https://raw.githubusercontent.com/ArmBraker/Menu/main/Tabak_Lists/Tmavy%20Tabak.txt"
            )
              .then((response) => response.text())
              .then((data) => {
                const menuItems = data
                  .split("\n")
                  .map((line) => line.trim())
                  .filter((line) => line !== "");
                this.tmavyMenuItems = menuItems;
              })
              .catch((error) => {
                console.error("Error fetching menu data:", error);
              });
          },
        },
      });
    </script>
  </body>
</html>